.admin-container {
  padding: 20px;

  .header-actions {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
  }
}

.full-width-table {
  width: 100%;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}
